Repository SWM-REPL/gifthub-was, pull requests merged in 2023-09, with the labels that each got.

#75 Implement divice-token management logic
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/DeviceTokenRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
Labels: 📣 Notification

#76 Change type from NotificationType to String in Notification-Read-Response-Dto
  src/main/java/org/swmaestro/repl/gifthub/notifications/NotificationType.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/NotificationReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
Labels: 🐛 bug, 📣 Notification

#77 Implment device-token save api
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/DeviceToken.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/DeviceTokenSaveRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
Labels: 📣 Notification

#78 chore: add firebase dependency
  .github/workflows/on_pull_request.yml
  .github/workflows/on_push.yml
  .gitignore
  build.gradle
  src/main/java/org/swmaestro/repl/gifthub/GifthubApplication.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/DeviceToken.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/config/FCMConfig.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/FCMNotificationRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
  src/main/java/org/swmaestro/repl/gifthub/util/BaseTimeEntity.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 💳 Voucher, 📣 Notification

#79 Implement save notification logic
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/FCMNotificationRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 📣 Notification

#80 Implement notification read API and Save checked-at
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/NotificationReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/entity/Notification.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
Labels: 📣 Notification

#81 Fixed Push Notification
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/DeviceToken.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
Labels: 🐛 bug, 📣 Notification

#84 Add device-token deletion logic when sign-out
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/SignOutDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceImpl.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 🐛 bug, 👮‍♂️ Auth

#85 Fixed issue where created_at was not being saved
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
Labels: 🐛 bug, 📣 Notification

#86 Generate S3 Presigned-url
  build.gradle
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/PresignedUrlResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/StorageService.java
Labels: 💳 Voucher

#87 Modify kakao login logic
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/TokenDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 👮‍♂️ Auth

#89 Modify Google OAuth logic
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 🐛 bug, 👮‍♂️ Auth

#91 Add docker prune cmd
  .github/workflows/on_push.yml
Labels: ⚙️ CI/CD

#90 Modify Naver OAuth Logic
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 👮‍♂️ Auth

#93 Create README.md
  README.md
Labels: 📄 documentation

#92 Modify CI/CD workflow
  .github/workflows/dev-cd.yml
  .github/workflows/dev-ci.yml
  .github/workflows/prod-cd.yml
  .github/workflows/prod-ci.yml
  .gitignore
  development/Dockerfile
  docker-compose.yml
  production/Dockerfile
Labels: ⚙️ CI/CD
