Repository SWM-REPL/gifthub-was, pull requests merged in 2023-08, with the labels that each got.

#47 fix/GH-156-voucher-list-response
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: bug, Voucher

#48 fix/GH-155-voucher-read-response
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/ProductController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/ProductReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Brand.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/BrandService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/ProductService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/ProductControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: bug, Voucher

#50 feat/GH-172-docker
  .github/workflows/on_pull_request.yml
  .github/workflows/on_push.yml
  .gitignore
  Dockerfile
  docker-compose.yml
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/ObjectStorageTest.java
Labels: CI/CD

#49 feat/GH-169-sentry
  build.gradle
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/main/java/org/swmaestro/repl/gifthub/exception/GlobalExceptionHandler.java
Labels: bug

#51 fix/GH-177-voucher-save
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Brand.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Product.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/BrandService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/ProductService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: bug, Voucher

#52 feat/GH-179-user-read-api
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/MemberReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceImpl.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
Labels: Auth

#53 Change APIs response type
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/RefreshTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/exception/BusinessException.java
  src/main/java/org/swmaestro/repl/gifthub/exception/ErrorCode.java
  src/main/java/org/swmaestro/repl/gifthub/exception/ErrorResponse.java
  src/main/java/org/swmaestro/repl/gifthub/exception/GlobalExceptionHandler.java
  src/main/java/org/swmaestro/repl/gifthub/util/HttpJsonHeaders.java
  src/main/java/org/swmaestro/repl/gifthub/util/JwtProvider.java
  src/main/java/org/swmaestro/repl/gifthub/util/Message.java
  src/main/java/org/swmaestro/repl/gifthub/util/StatusEnum.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/ProductController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/BrandService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/ProductService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceTest.java
  src/test/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceTest.java
Labels: Refactoring

#56 Add nickname exception handling
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceImpl.java
Labels: bug, Auth

#57 feat: implement get-default-voucher-image method
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/StorageService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: Voucher

#58 Apply Https to Swagger
  src/main/java/org/swmaestro/repl/gifthub/GifthubApplication.java
  src/main/java/org/swmaestro/repl/gifthub/config/SwaggerConfig.java
Labels: bug, documentation

#59 Remove unique option to product name
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Product.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandControllerTest.java
Labels: Voucher

#61 Save update of voucher and Modify ok status message
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: bug

#62 Add oauth-info logic
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/AppleDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/GoogleDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/KakaoDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/NaverDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/OAuth.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/type/OAuthPlatform.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceTest.java
Labels: Auth, Refactoring

#63 Save change of balance to voucher table and Return product price when voucher is used
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherUseRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherUseResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 🐛 bug

#64 Add query-string 'member_id' to read voucher-list API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/MemberReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/VoucherRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: Voucher

#60 Change docker build and push
  .github/workflows/on_pull_request.yml
  .github/workflows/on_push.yml
  Dockerfile
  docker-compose.yml
Labels: CI/CD

#65 Change member_id to user_id In voucher-list api
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 🐛 bug, Voucher

#67 Run with docker-compose
  .github/workflows/on_push.yml
  docker-compose.yml
Labels: 🐛 bug, CI/CD

#66 Add user-id in JWT Payload
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberServiceImpl.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/RefreshTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/util/JwtProvider.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/util/JwtUtilTest.java
Labels: Auth

#68 Add exception handling for brand & product
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: Voucher

#69 Add multiple swagger-response
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/ProductController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: documentation

#70 Implement voucher-delete API
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Voucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: Voucher

#71 Add balance field to VoucherUpdateRequestDto
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherUpdateRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Voucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: Voucher

#73 Modify deleted vouchers to not be searchable
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 🐛 bug, 💳 Voucher

#74 Add image_url to voucher-read-dto
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/BrandRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/ProductRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/BrandService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/ProductService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/StorageService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 🐛 bug, 💳 Voucher
