Repository SWM-REPL/gifthub-was, pull requests merged in 2023-10, with the labels that each got.

#95 Modify Apple OAuth API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/ApplePublicKeyResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/AppleTokenDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 🐛 bug, 👮‍♂️ Auth

#96 Modify security exception-handling
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 🐛 bug

#97 Fixed an issue where `create_date` was not saved when registering a notification
  src/main/java/org/swmaestro/repl/gifthub/notifications/NotificationType.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/entity/Notification.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
Labels: 🐛 bug

#98 Modify error-code from 500 to 400(401)
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
Labels: 👮‍♂️ Auth, 📣 Notification

#99 Implement Voucher-Save-Method with No DB Information
  src/main/java/org/swmaestro/repl/gifthub/util/QueryTemplateReader.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Product.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Voucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/BrandService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/GptService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/ProductService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/SearchService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/StorageService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/main/resources/gpt/question.txt
  src/main/resources/gpt/voucher-query-template.json
Labels: 💳 Voucher

#100 Convert FileLoader by Classpath Resource
  src/main/java/org/swmaestro/repl/gifthub/util/QueryTemplateReader.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/GptService.java
  src/main/resources/opensearch/voucher-query-template.json
Labels: 🐛 bug, 💳 Voucher

#101 Modify API's response format
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/main/java/org/swmaestro/repl/gifthub/exception/GlobalExceptionHandler.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/util/ErrorMessage.java
  src/main/java/org/swmaestro/repl/gifthub/util/Message.java
  src/main/java/org/swmaestro/repl/gifthub/util/SuccessMessage.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/BrandController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/ProductController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
Labels: 🛠️ Refactoring

#102 fix: modify type to price, balance
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherReadResponseDto.java
Labels: 🐛 bug, 💳 Voucher

#104 Preprocess to korean unit in product-name to search performance improvements
  src/main/java/org/swmaestro/repl/gifthub/util/ProductNameProcessor.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
  src/main/resources/gpt/question.txt
  src/main/resources/opensearch/voucher-query-template.json
Labels: ✨ enhancement, 💳 Voucher

#106 Implement Voucher Pending when voucher is registered automatically
  src/main/java/org/swmaestro/repl/gifthub/notifications/NotificationType.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/entity/Notification.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/ProductReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherListResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/PendingVoucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Product.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/PendingVoucherRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/PendingVoucherService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 🐛 bug, 💳 Voucher

#107 Implement create oauth-info API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
Labels: 👮‍♂️ Auth

#108 implement delete OAuth-info API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/OAuth.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/MemberService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuth2Service.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
Labels: 👮‍♂️ Auth

#109 Implement delete device-token API
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/DeviceTokenRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
Labels: 📣 Notification

#110 Use Voucher that Product Price is null
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherUseResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/VoucherUsageHistory.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherUsageHistoryService.java
Labels: 🐛 bug, 💳 Voucher

#111 Modify Auth Logic
  src/main/java/org/swmaestro/repl/gifthub/auth/config/AuthConfig.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
Labels: 👮‍♂️ Auth

#112 Modify Voucher Update-logic to-update voucher with no-db-information
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/GptResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/SearchResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 🐛 bug, 💳 Voucher

#113 feat: implement user-roles
  src/main/java/org/swmaestro/repl/gifthub/auth/config/AuthConfig.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/DeviceToken.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/Member.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/OAuth.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/User.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/DeviceTokenRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/MemberRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/UserRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuth2Service.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/type/Role.java
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/dto/FCMNotificationRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/entity/Notification.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/FCMNotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
  src/main/java/org/swmaestro/repl/gifthub/security/CustomUserDetails.java
  src/main/java/org/swmaestro/repl/gifthub/security/JpaUserDetailsService.java
  src/main/java/org/swmaestro/repl/gifthub/util/JwtProvider.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/PendingVoucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Voucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/VoucherUsageHistory.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/PendingVoucherRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/repository/VoucherRepository.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/PendingVoucherService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherUsageHistoryService.java
  src/main/resources/gpt/question.txt
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 👮‍♂️ Auth

#114 Fix column-name
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/OAuth.java
Labels: 🐛 bug, 👮‍♂️ Auth

#115 Modify load-user logic
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#116 Set user-update API access permissions
  src/main/java/org/swmaestro/repl/gifthub/GifthubApplication.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
Labels: 👮‍♂️ Auth

#117 Fixed user delete bug
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 👮‍♂️ Auth

#118 Modify member-read logic
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#119 Modify member-read logic to sign-out
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#120 Modify kakao userinfo json field
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#121 Modify kakao-sign-in logic
  src/main/java/org/swmaestro/repl/gifthub/auth/config/AuthConfig.java
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
Labels: 👮‍♂️ Auth

#123 Modify notification map to dto when voucher is null
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
Labels: 🐛 bug, 📣 Notification

#122 Modify refresh-token save and duplicated device-token logic
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#124 Modify get user logic
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#125 Modify OAuth Logic when User Deleted and Re sign-in
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/OAuth.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/User.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/KakaoService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#126 Implement Voucher Share Request API
  src/main/java/org/swmaestro/repl/gifthub/giftcard/entity/Giftcard.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/repository/GiftcardRepository.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/service/GiftcardService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherShareRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherShareResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
  src/test/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherControllerTest.java
Labels: 💳 Voucher

#127 Implement My Information Read API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/UserController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/OAuthUserInfoDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserDeleteResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserInfoResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserUpdateRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserUpdateResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/OAuthRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/UserControllerTest.java
Labels: 👮‍♂️ Auth

#128 Implement read giftcard-info API
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/config/GiftcardConfig.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/contorller/GiftcardController.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/dto/GiftcardRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/dto/GiftcardResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/entity/Giftcard.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/service/GiftcardService.java
  src/main/java/org/swmaestro/repl/gifthub/util/BasicAuthenticationDecoder.java
  src/main/java/org/swmaestro/repl/gifthub/util/ByteArrayUtils.java
  src/test/java/org/swmaestro/repl/gifthub/giftcard/contorller/GiftcardControllerTest.java
Labels: 💳 Voucher

#129 Set available access to role from
  src/main/java/org/swmaestro/repl/gifthub/vouchers/controller/VoucherController.java
Labels: 👮‍♂️ Auth, 💳 Voucher

#131 Add notification agreement field in user-info-dto
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserInfoResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/DeviceTokenRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 👮‍♂️ Auth

#130 Devicetoken User update when voucher updated
  src/main/java/org/swmaestro/repl/gifthub/auth/service/DeviceTokenService.java
Labels: 🐛 bug, 📣 Notification

#132 Implement change-voucher owner to giftcard API
  src/main/java/org/swmaestro/repl/gifthub/giftcard/contorller/GiftcardController.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/entity/Giftcard.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/service/GiftcardService.java
  src/test/java/org/swmaestro/repl/gifthub/giftcard/contorller/GiftcardControllerTest.java
Labels: 💳 Voucher

#133 Implement anonymous sign-up API
  src/main/java/org/swmaestro/repl/gifthub/auth/controller/AuthController.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/type/Role.java
  src/main/java/org/swmaestro/repl/gifthub/config/SecurityConfig.java
  src/test/java/org/swmaestro/repl/gifthub/auth/controller/AuthControllerTest.java
Labels: 👮‍♂️ Auth

#134 Modify UsernameNotFoundException Error handling
  src/main/java/org/swmaestro/repl/gifthub/auth/service/OAuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
  src/main/java/org/swmaestro/repl/gifthub/filter/JwtAuthenticationFilter.java
  src/main/java/org/swmaestro/repl/gifthub/util/JwtProvider.java
Labels: 🐛 bug, 👮‍♂️ Auth

#135 Re Sign-up a user who previously left
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/User.java
  src/main/java/org/swmaestro/repl/gifthub/auth/repository/UserRepository.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AuthService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#136 Add nickname-length exception-handling logic
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserUpdateRequestDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/type/Role.java
Labels: 🐛 bug, 👮‍♂️ Auth

#139 Ser invalid password count limit
  src/main/java/org/swmaestro/repl/gifthub/giftcard/entity/Giftcard.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/service/GiftcardService.java
Labels: 🐛 bug, 💳 Voucher

#141 Implement is-anonymous field in user-info-dto
  src/main/java/org/swmaestro/repl/gifthub/auth/dto/UserInfoResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/User.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 👮‍♂️ Auth

#142 Handle situations with more than one device-token
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
Labels: 🐛 bug, 👮‍♂️ Auth

#143 Implement expiration notifications Allow and Deny API
  src/main/java/org/swmaestro/repl/gifthub/auth/entity/User.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/UserService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/test/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationControllerTest.java
Labels: 🐛 bug, 📣 Notification

#144 Change to read method to handle google sign-in 500 error
  src/main/java/org/swmaestro/repl/gifthub/auth/service/AppleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/GoogleService.java
  src/main/java/org/swmaestro/repl/gifthub/auth/service/NaverService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
Labels: 🐛 bug

#146 Implement notification delete api and permit access deleted voucher with null barcode
  src/main/java/org/swmaestro/repl/gifthub/notifications/controller/NotificationController.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/entity/Notification.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/repository/NotificationRepository.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/NotificationService.java
  src/main/java/org/swmaestro/repl/gifthub/notifications/service/ScheduledTasks.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherReadResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/entity/Voucher.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 🐛 bug, 💳 Voucher, 📣 Notification

#147 Add password field in voucher share request
  src/main/java/org/swmaestro/repl/gifthub/giftcard/controller/GiftcardController.java
  src/main/java/org/swmaestro/repl/gifthub/giftcard/service/GiftcardService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/dto/VoucherShareResponseDto.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherService.java
Labels: 🐛 bug, 💳 Voucher

#149 Modify pending delete method by pending-id
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/PendingVoucherService.java
  src/main/java/org/swmaestro/repl/gifthub/vouchers/service/VoucherSaveService.java
Labels: 🐛 bug, 💳 Voucher
